/* 
---------------------------
VARIABLES AND GLOBAL STYLES 
---------------------------
*/

@font-face {
    font-family: Terminal;
    src: url(fonts/BigBlueTerminal/BigBlueTerm437NerdFont-Regular.ttf);
}

@font-face {
    font-family: Share Tech;
    src: url(fonts/Share_Tech/ShareTech-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    
    font-family: Share Tech;
}

body {
    margin: 0px; /* get rid of space around edges*/
    background-image: url(pics/5.png);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    min-width: none;
}

/* used for seeing divs and stuff */
/* div, p, nav{
    border: 1px solid white;
} */

main {
    width: 80%;
    margin: 0 auto 
}

.container {
    display: flex
}

.name {
    color: white;
}

hr {
    flex-grow: 1;
}

.box {
    border: 2px solid #3a3b3a80;
    border-radius: 1rem;
    background-color: #111111;
}

.subheading-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 30px;
}

.subheading-container:first-child {
    color: white;
}

section {
    flex-direction: column;
}

a {
    text-decoration: none;
}

/* 
------------------------
       HEADER 
------------------------
*/

#header {
    padding: 20px 20px;
}

#header-container {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

#navbar-container,
#title-container {
    justify-content: center;
    flex: 1 1 auto;
}

#header {
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    flex-wrap: wrap;
    border-radius: 1rem;
}

#navbar {
    justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 2px solid transparent;
  font-size: 2.5vw;
}

ul li a:hover {
  background-color: #111111;
  border-radius: 1rem;
  border: 2px solid #3a3b3a
}

#navbar-name {
    color: #00FF00;
    font-family: Terminal;
}

/* 
--------------------------
        HERO
-------------------------- 
*/

#home-image {
    height: 300px;
    border-radius: 1rem;
}

#home-image-container {
    justify-content: center;
    align-items: center;
}

#home-container {
    justify-content: center;
    width: 100%;
    flex-direction: row;
    gap: 50px;
}

#home-text-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
}

#home-text-container > * {
    color: white;
    font-size: 25px;
}

.parent {
    flex-wrap: wrap;
}


/* 
----------------------------
         ABOUT
---------------------------- 
*/

#about-text {
    color: white;
    padding: 20px;
}

/* 
-------------------------------
         PROJECTS
------------------------------- 
*/

#project-examples-container {
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.project-example-container {
    text-decoration: none;
    flex-direction: column;
    padding: 10px;
    flex: 1 1 300px;
    max-width: 100%;
    box-sizing: border-box;
}

.project-example-container:hover {
    border-color: #3a3b3a
}

/* change later to make project name text diff color */
.project-example-container > * {
    color: white; 

}

.project-image {
    width: 100%;
}


/* 
-------------------------------
         Practice
------------------------------- 
*/

#github {
    flex-direction: column;
}

#github:hover {
    border-color: #3a3b3a
}

#github > * {
    margin: 10px;
    color: white
}

#commit-chart-container {
    margin: 10px;
    overflow: auto;
    direction: rtl;
    color: white;
}

#commit-chart {
    width: 100%;
    min-width: 1000px;
}

/* 
-------------------------------
         Skills
------------------------------- 
*/

.skill-container {
    flex-direction: column;
    color: white;
    margin-bottom: 15px;
}

.skill-container > * {
    margin: 10px;
}

.skills-icons-container {
    width: 100%;
    flex-wrap: wrap;
}

.skill-icon-container {
    margin: 5px;
    flex-direction: column;
}

.skill-icon-container > * {
    text-align: center;
}

.icon {
    width: 100px;
}


